---
version: 3

images:
  base_image:
    name: quay.io/fedora/fedora-minimal:43

dependencies:

  system:
    - openssh-clients
    - sshpass
    - helm

  ansible_runner:
    package_pip: ansible-runner

  ansible_core:
    package_pip: ansible-core

  python:
    - requests
    - requests-oauthlib
    - grpcio
    - jsonschema
    - jxmlease
    - ncclient
    - netaddr>=0.10.1
    - paramiko
    - protobuf
    - proxmoxer>=2.0
    - pyang
    - textfsm
    - ttp
    - xmltodict
    - jsonpatch
    - kubernetes>=24.2.0

  galaxy:
    collections:
      - community.general
      - name: community.proxmox
      - name: kubernetes.core
      - name: ansible.netcommon
      - name: ansible.posix
      - name: ansible.scm
      - name: ansible.utils
      - name: ansible.network
      - name: ansible.security
      - name: ansible.snmp
      - name: ansible.utils
      - name: ansible.windows
      - name: ansible.yang

additional_build_steps:
  prepend_base:
    - RUN /usr/bin/dnf5 -y -q install git-core python3-devel && /usr/bin/dnf5 clean all
