---
version: 3

images:
  base_image:
    name: quay.io/fedora/fedora-minimal:43

dependencies:

  system:
    - openssh-clients
    - sshpass

  ansible_runner:
    package_pip: ansible-runner

  ansible_core:
    package_pip: ansible-core<2.18.0

  galaxy:
    collections:
      - name: https://github.com/kubernetes-sigs/kubespray
        type: git
        version: release-2.29
additional_build_steps:
  prepend_base:
    - RUN /usr/bin/dnf5 -y -q install python3-devel git-core && /usr/bin/dnf5 clean all
    - RUN pip3 install distlib
